@import './Components/colors.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: var(--font-primary);
    background-color: var(--clr-bg);
    color: var(--clr-dark);
  }
  
  nav {
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }
  
  button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    padding: 0.75rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--clr-dark);
  }
  
  footer {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    padding: 1rem;
  }
  